# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build output (if any)
dist/
build/

canteenz-c9efd-firebase-adminsdk-fbsvc-98a836ff1b.json